# Abaikan semua file .log
*.log

# Abaikan folder (contohnya: sumber)
/sumber/
/venv/
/__pycache__/

# Abaikan file konfigurasi lokal
#config.local.json

# Abaikan semua file di folder (contohnya: sumber)
sumber/
venv/
__pycache__/

.env 